# Add files here to ignore them from prettier formatting

# Project

/node_modules
/dist
/docs
/coverage
/package-lock.json

# Editors

/.history
/.vscode
/.angular

/.nx/cache
.angular

/.nx/workspace-data